#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: 100%;
    color: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgb(40 51 75 / 20%);
    box-sizing: border-box;
    line-height: 24px;
    padding: 24px;
  }

  .pan-separator {
    margin: 6px;
  }
  
  #pan {
    border-radius: 6px;
    bottom: 5em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 3em;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    left: 34px;
    letter-spacing: 3px;
    line-height: 30px;
    padding: 2px 10px 0;
    position: absolute;
    text-shadow: 1px 0px 1px rgba(44, 15, 79, 0.85);
  }
  
  #expiry {
    border-radius: 6px;
    bottom: 3.5em;
    font-size: 2.5em;
    font-weight: 400;
    left: 40px;
    line-height: 30px;
    opacity: 0.8;
    padding: 2px 4px 0;
    position: absolute;
    text-shadow: 1px 0px 1px rgba(44, 15, 79, 0.85);
  }
  
  #month, #year {
    border-radius: 6px;
    cursor: pointer;
    line-height: 30px;
    padding: 4px 1px;
  }
  
  #cvv {
    border-radius: 6px;
    bottom: 3.5em;
    cursor: pointer;
    font-size: 2.5em;
    font-weight: 400;
    left: 92px;
    line-height: 30px;
    margin-left: 250px;
    opacity: 0.8;
    padding: 2px 4px 0;
    position: absolute;
    text-shadow: 1px 0px 1px rgba(44, 15, 79, 0.85);
  }
  
  #expiry::before {
    content: 'EXP ';
  }
  
  #cvv::before {
    content: 'CSS ';
  }
  
  #cvv:hover, #pan:hover, #month:hover, #year:hover  {
    background-color:rgba(0, 0, 0, 0.1);
  }
  
  #cvv:active, #pan:active, #month:active, #year:active {
    background-color:rgba(0, 0, 0, 0.05);
  }
  
  #alert {
    display: none;
  }
